################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApolloReminders/v15/.suo
*.suo
/ApolloReminders/bin/Debug
*.user
