<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="EN_QA_Local" connectionString="Data Source=WTIN01500051L\SQLEXPRESS;Database=EN_QA;User Id=sa;Password=Wissen@01;Persist Security Info=True"/>
    <add name="EN_QA_Home" connectionString="Data Source=GORGEOUS\SQLEXPRESS;Database=EN_QA;User Id=sa;Password=Wissen@01;Persist Security Info=True"/>
  </connectionStrings>
  <appSettings>
    <!--connection string to use-->
    <add key="ConStr" value="EN_QA_Local"/>
    <!--notification email sending settings-->
    <add key="NotificationMode" value="LOCAL" />
    <add key="SMTPServer" value="smpt.apollo.com" />
    <add key="SmtpPort" value="25" />
    <add key="DefaultSenderName" value="Workflow Support" />
    <add key="DefaultSenderEmail" value="support_wap@schneider-electric.com" />
    <add key="DefaultRecipientName" value="NA" />
    <add key="DefaultRecipientEmail" value="NA" />
    <add key="MailPickUpLocation" value="C:\ApolloMails" />
  </appSettings>
</configuration>